<form name="FormExp" action="" method="POST" onsubmit="return verifica();">
    <div class="row">
      <div class="form-group col">
        <label for="Base1">Número</label>
        <input type="number" class="form-control" name="base" placeholder="Ingresa la base">
      </div>
      <div class="form-group col">
        <label for="Exponente1">Potencia</label>
        <input type="number" class="form-control" name="exponente" placeholder="Ingresa el exponente">
      </div>
    </div>
    <button name="entrar" type="submit" class="btn btn-success">Calcular</button>
</form>